@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-blue {
  background: linear-gradient(0deg, #901e8c 0%, #c547e8 100%);
}

.gradient-blue:hover {
  background: white;
}

.gradient-blue-light {
  background: linear-gradient(72.61deg, #cc00ff 22.63%, #d900ff 84.67%);
}

.gradient-dark-blue {
  background: linear-gradient(133.02deg, #472051 0.36%, #a80dc4 92.88%);
}

body {
  font-family:
    Source Sans Pro,
    sans-serif;
}

@font-face {
  font-family: "Penis";
  src: url('./assets/Penis.ttf');
}

.zest {
  font-family: Penis;
  font-size: 50px;
}

video {
  display: block;
  margin: 0 auto;
}